/* create a css variable for the background color 

-----Dark Mode Pallete-----
background Dark: #141a21
container Dark: #fff
text/button Dark: #000
button hover Dark: #0056b3 

-----Light Mode Pallete-----
background Light: #fff
container Light: #141a21
text/button Light: #fff
button hover Light: #171a21
*/
:root {
  --backGround: #141a21;
  --container: #fff;
  --text: #000;
  --containerOffset: #c7d5e0; 
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--backGround) ;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 500px;
  background-color: var(--container);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: var(--text);
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--text);
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid --backGround;
  border-radius: 5px;
  background-color: var(--containerOffset);
  color: var(--text);
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

input[type="text"] {
  display: block;
  width: 96%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid var(--backGround);
  border-radius: 5px;
  background-color: var(--containerOffset);
  color: var(--text);
  font-size: 16px;
  outline: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  background-color: var(--backGround);
  color: var(--container);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}