body {
  font-family: Arial, sans-serif;
  background-color: #171a21 ;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #000000;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000000;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #c7d5e0;
  border-radius: 5px;
  background-color: #c7d5e0;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

input[type="text"] {
  display: block;
  width: 96%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #c7d5e0;
  border-radius: 5px;
  background-color: #c7d5e0;
  color: #333;
  font-size: 16px;
  outline: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #171a21;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}